/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
    padding-top: 50px;
    background-color: #f5f5f5;
    height: 100%;
    min-height: 100%
}

footer {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -33%;
    }

    .row-offcanvas-left.active {
        left: 33%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 10px;
    }
}

/* Topbar navigation */


.navbar-inverse {
    background-color: #333;
}

/* Sidebar navigation */
.nav-sidebar {
    background-color: #333;
    margin-right: -15px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a {
    color: #333;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding: 20px;
    background-color: #fff;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}
